<!-- Berkan -->

<div class="search-box">
  <form class="search-form">
    <input
      id="searchInput"
      class="search-input"
      type="text"
      placeholder="search"
      aria-label="Search input"
    />

    <select id="yearSelect" class="year-select" aria-label="Select year">
      <option value="">Yıl Seç</option>
      <!-- JavaScript ile doldurulacak -->
    </select>

    <button type="submit" class="search-button" aria-label="Search">
      <svg class="search-icon" width="48" height="48">
        <use href="./img/icons.svg#search"></use>
      </svg>
    </button>
  </form>
</div>

<div class="catalog-container">
  <ul class="cata-menu">
    <li class="cata-tab">
      <div class="cata-flow"></div>
      <div class="cata-info">
        <h3 class="cata-cd-title"></h3>
        <p class="cata-cd-text"></p>
      </div>
    </li>

    <li class="cata-tab">
      <div class="cata-flow"></div>
      <div class="cata-info">
        <h3 class="cata-cd-title"></h3>
        <p class="cata-cd-text"></p>
      </div>
    </li>
    <li class="cata-tab">
      <div class="cata-flow"></div>
      <div class="cata-info">
        <h3 class="cata-cd-title"></h3>
        <p class="cata-cd-text"></p>
      </div>
    </li>
    <li class="cata-tab">
      <div class="cata-flow"></div>
      <div class="cata-info">
        <h3 class="cata-cd-title"></h3>
        <p class="cata-cd-text"></p>
      </div>
    </li>
    <li class="cata-tab">
      <div class="cata-flow"></div>
      <div class="cata-info">
        <h3 class="cata-cd-title"></h3>
        <p class="cata-cd-text"></p>
      </div>
    </li>
    <li class="cata-tab">
      <div class="cata-flow"></div>
      <div class="cata-info">
        <h3 class="cata-cd-title"></h3>
        <p class="cata-cd-text"></p>
      </div>
    </li>
    <li class="cata-tab">
      <div class="cata-flow"></div>
      <div class="cata-info">
        <h3 class="cata-cd-title"></h3>
        <p class="cata-cd-text"></p>
      </div>
    </li>
    <li class="cata-tab">
      <div class="cata-flow"></div>
      <div class="cata-info">
        <h3 class="cata-cd-title"></h3>
        <p class="cata-cd-text"></p>
      </div>
    </li>
    <li class="cata-tab">
      <div class="cata-flow"></div>
      <div class="cata-info">
        <h3 class="cata-cd-title"></h3>
        <p class="cata-cd-text"></p>
      </div>
    </li>
    <li class="cata-tab">
      <div class="cata-flow"></div>
      <div class="cata-info">
        <h3 class="cata-cd-title"></h3>
        <p class="cata-cd-text"></p>
      </div>
    </li>
    <li class="cata-tab">
      <div class="cata-flow"></div>
      <div class="cata-info">
        <h3 class="cata-cd-title"></h3>
        <p class="cata-cd-text"></p>
      </div>
    </li>
    <li class="cata-tab">
      <div class="cata-flow"></div>
      <div class="cata-info">
        <h3 class="cata-cd-title"></h3>
        <p class="cata-cd-text"></p>
      </div>
    </li>
    <li class="cata-tab">
      <div class="cata-flow"></div>
      <div class="cata-info">
        <h3 class="cata-cd-title"></h3>
        <p class="cata-cd-text"></p>
      </div>
    </li>
    <li class="cata-tab">
      <div class="cata-flow"></div>
      <div class="cata-info">
        <h3 class="cata-cd-title"></h3>
        <p class="cata-cd-text"></p>
      </div>
    </li>
    <li class="cata-tab">
      <div class="cata-flow"></div>
      <div class="cata-info">
        <h3 class="cata-cd-title"></h3>
        <p class="cata-cd-text"></p>
      </div>
    </li>
    <li class="cata-tab">
      <div class="cata-flow"></div>
      <div class="cata-info">
        <h3 class="cata-cd-title"></h3>
        <p class="cata-cd-text"></p>
      </div>
    </li>
    <li class="cata-tab">
      <div class="cata-flow"></div>
      <div class="cata-info">
        <h3 class="cata-cd-title"></h3>
        <p class="cata-cd-text"></p>
      </div>
    </li>
    <li class="cata-tab">
      <div class="cata-flow"></div>
      <div class="cata-info">
        <h3 class="cata-cd-title"></h3>
        <p class="cata-cd-text"></p>
      </div>
    </li>
    <li class="cata-tab">
      <div class="cata-flow"></div>
      <div class="cata-info">
        <h3 class="cata-cd-title"></h3>
        <p class="cata-cd-text"></p>
      </div>
    </li>
    <li class="cata-tab">
      <div class="cata-flow"></div>
      <div class="cata-info">
        <h3 class="cata-cd-title"></h3>
        <p class="cata-cd-text"></p>
      </div>
    </li>
    <li class="cata-tab">
      <div class="cata-flow"></div>
      <div class="cata-info">
        <h3 class="cata-cd-title"></h3>
        <p class="cata-cd-text"></p>
      </div>
    </li>
    <li class="cata-tab">
      <div class="cata-flow"></div>
      <div class="cata-info">
        <h3 class="cata-cd-title"></h3>
        <p class="cata-cd-text"></p>
      </div>
    </li>
  </ul>

  <div class="pagination" id="pagination"></div>

  <div>
    <p class="footer-text">
      © 2025 | All Rights Reserved | Developed with
      <svg class="icon-heart" width="14" height="13">
        <use href="./img/icons.svg#heart"></use>
      </svg>

      by GoIT Students
    </p>
  </div>
</div>
<!--
    <div id="movieModal" class="modal" style="display: none">
        <div class="modal-content">
            <span id="close" class="close">&times;</span>
            <img id="modalImage" src="" alt="Film Görseli" />
            <h2 id="modalTitle"></h2>
            <p id="modalDescription"></p>
        </div>
    </div>

     -->
