


<div class="dropdown-films">
  <span>Genre</span>
  <div class="film-genres">
    <p class="romance">Romance</p>
    <p class="detective">Detective</p>
    <p class="thriller">Thriller</p>
    <p class="action">Action</p>
    <p class="documantary">Documentary</p>
    <p class="horror">Horror</p>
  </div>
</div>

<!-- Film Genres Section End -->

<!-- Movies Section Start -->
<ul id="film-list" class="film-grid"></ul>
<div id="pagination" class="pagination"></div>
<div id="modal" class="modal-hidden">
  <div class="modal-content"><span class="modal-close">X</span>
    <img class="modal-img" href=""/>
    <div class="modal-info">

    </div>
    <div class="library-btn"></div>
  </div>

</div>
<div id="empty-message"></div>
