<!-- Merve -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="./img/sekme-icon.png" href="favicon.png" />

    <!-- CSS Link-->
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/merve.css" />
    <!-- CSS Link -->

    <title>Cinemania</title>
  </head>
  <body>
    <!-- Nav Section Start -->

    <!-- Nav Section End -->

    <!-- Hero Section Start -->

    <!-- Hero Section End -->

    <!-- Film Genres Section Start -->

    <div class="dropdown-films">
      <span>Genre</span>
      <div class="film-genres">
        <p class="romance">Romance</p>
        <p class="detective">Detective</p>
        <p class="thriller">Thriller</p>
        <p class="action">Action</p>
        <p class="documantary">Documentary</p>
        <p class="horror">Horror</p>
      </div>
    </div>

    <!-- Film Genres Section End -->

    <!-- Movies Section Start -->
    <div id="film-list" class="film-grid"></div>

    <button type="button" class="load-btn">Load More</button>

    <!-- Moveis Section End -->

    <!-- Footer Start -->

    <!-- Footer End -->

    <!-- JS -->

    <!-- JS -->
    <script src="./merve.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
  </body>
</html>


