<nav class="navbar">
  <div class="logo">
    <img src="img/logo.png" alt="Logo" />
    <h2>Cinemania</h2>
  </div>
  <div class="nav-menu">
    <a href="index.html">HOME</a>
    <a href="catolog.html">CATALOG</a>
    <a href="my-library.html">MY LİBRARY</a>
  </div>
  <button class="btn">MENU</button>
  <div class="theme-switcher" id="theme-switcher">
    <img src="img/moon.png" alt="Moon" class="icon moon" />
    <img src="img/sun.png" alt="Sun" class="icon sun" />
    <div class="theme-toggle"></div>
  </div>
</nav>