<!-- <header class="header">

  <div class="container">
    <nav class="nav">
      <a href="./index.html" class="logo-link">
        <svg class="logo-icon" width="48" height="48">
          <use href="./img/header-logo.svg#favicon"></use>
        </svg>
        <span class="logo-text">Cinemania</span>
      </a>

      <div class="nav-wrapper">
        <div style="display: flex; width: 100%; justify-content: space-between">
          <ul class="nav-list">
            <li class="nav-item">
              <a href="./index.html" class="nav-link active" data-page="home"
                >HOME</a
              >
            </li>
            <li class="nav-item">
              <a href="./catalog.html" class="nav-link" data-page="catalog"
                >CATALOG</a
              >
            </li>
            <li class="nav-item">
              <a href="./mylibrary.html" class="nav-link" data-page="library"
                >MY LIBRARY</a
              >
            </li>
          </ul>

          <div class="header-controls">
            <div class="theme-toggle">
              <input type="checkbox" class="theme-switch" id="theme-switch" />
              <label for="theme-switch" class="switch-label">
                <span class="switch-slider"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
 -->

<!-- Yukardaki kod Hocanın gösterdiği örnek -->

<!-- Fatmanur -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vanilla</title>
    <link rel="index.html" href="../index.html" />
    <link rel="stylesheet" href="./css/header.css" />
  </head>
  <body>
    <nav class="navbar">
      <a href="index.html" class="logo">
        <img src="img/Misir.png" alt="Misir" class="icon-misir" />
        <span>Cinemania</span>
      </a>
      <ul class="nav-links" id="navLinks">
        <li><a href="#">HOME</a></li>
        <li><a href="#">CATALOG</a></li>
        <li><a href="index.html" class="active">MY LIBRARY</a></li>
      </ul>
      <div class="">
        <button class="menu-btn" id="menu-btn" type="button">MENU</button>
      </div>
      <div class="theme-toggle" id="themeToggle">
        <div class="switch-images">
          <img src="img/moon.png" alt="Moon" class="icon-moon" />
          <img
            src="img/elips.png"
            alt="Elips"
            class="icon-elips"
            id="switchElips"
          />
          <img src="img/sun.png" alt="Sun" class="icon-sun" />
        </div>
      </div>
    </nav>
  </body>
</html>
