<!-- Fatmanur -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vanilla</title>

    <link rel="index.html" href="../index.html"/>
    <link rel="stylesheet" href="./css/my-library-hero.css" />
  </head>

  <header>
    <div class="hero-section" id="heroSection">
      <div id="hero-img">
        <img src="img/Hero-Desktop-myLibrary.png" alt="" />
        <div class="hero-content-wrapper">
          <h1>
            Create Your <br/>
            Dream Cinema
          </h1>
          <p>
            Is a guide to designing a personalized movie theater experience with
            the right equipment, customized decor, and favorite films. This
            guide helps you bring the cinema experience into your own home with
            cozy seating, dim lighting, and movie theater snacks.
          </p>
        </div>
      </div>
    </div>
  </header>
</html>
