@import url('https://fonts.googleapis.com/css2?family{}=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Colors */
  --primary-color: #ffffff;
  --secondary-color: #111111;
  --text-color-01: #f8f8f8;
  --text-color-02: #b7b7b7;
  --color-1: #f87719;
  --color-2: #595959;
  --color-3: #282828;

  /* Gradyanlar */
  --gradient-1: linear-gradient(to right, #ffc226, #f84119);
  --gradient-2: linear-gradient(to right, #f84119, #f89f19ad 68%);

  /* Font */
  --font-family: 'Roboto', sans-serif;

  /* Interface */
  --box-shadow: 0 0 25px rgba(255, 194, 38, 0.6),
    0 0 50px rgba(248, 65, 25, 0.6);
  --hover-scale: 1.05;
}

body {
  font-family: var(--font-family);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  margin: 0;
  padding: 0;
}

p,
span {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.dropdown-films {
  box-sizing: border-box;
  position: relative;
  width: 173px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  border: 0.5px solid var(--primary-color);
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  background-color: transparent;
  color: var(--primary-color);
  cursor: pointer;
}
.film-genres {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  border-radius: 8px;
  align-items: center;
  padding: 5px;

  background-color: rgba(0, 0, 0, 0.8);
  color: var(--primary-color);
  z-index: 100;
}

.dropdown-films:hover .film-genres {
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
  transform: var(--hover-scale);
}

.film-genres p {
  width: 172px;
  border: 0.5px solid var(--primary-color);
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  color: var(--primary-color);
}

.film-genres p:hover {
  color: var(--color-1);
}
.film-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 10px;
}

.searchBtn {
  width: 106px;
  height: 38px;
  border-radius: 74px;
  padding: 5px 10px;
  font-size: 12px;
  color: var(--secondary-color);
  background: var(--gradient-1);
  cursor: pointer;
  margin-top: 10px;
  display: block;
  justify-content: center;
}

.film-list {
  width: 280px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.movieCard{
  width: 280px;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
}
.movieCard img.movie-image{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.empty-message {
  width: 280px;
}
.markup {
  height: 120px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6em;
  color: var(--primary-color);
}

.add-remove-btn {
  width: 140px;
  height: 38px;
  border-radius: 74px;
  cursor: pointer;

  gap: 10px;
  padding: 12px 24px;
}
