@import url('https://fonts.googleapis.com/css2?family{}=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Colors */
  --primary-color: #ffffff;
  --secondary-color: #111111;
  --text-color-01: #f8f8f8;
  --text-color-02: #b7b7b7;
  --color-1: #f87719;
  --color-2: #595959;
  --color-3: #282828;

  /* Gradyanlar */
  --gradient-1: linear-gradient(to right, #ffc226, #f84119);
  --gradient-2: linear-gradient(to right, #f84119, #f89f19ad 68%);

  /* Font */
  --font-family: 'Roboto', sans-serif;

  /* Interface */
  --box-shadow: 0 0 25px rgba(255, 194, 38, 0.6),
    0 0 50px rgba(248, 65, 25, 0.6);
  --hover-scale: 1.05;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: var(--font-family);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  margin: 0;
  padding: 0;
}

p,
span {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.dropdown-films {
  box-sizing: border-box;
  position: relative;
  width: 173px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  border: 0.5px solid var(--primary-color);
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  background-color: transparent;
  color: var(--primary-color);
  cursor: pointer;
}
.film-genres {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  border-radius: 8px;
  align-items: center;
  padding: 5px;

  background-color: rgba(0, 0, 0, 0.8);
  color: var(--primary-color);
  z-index: 100;
}

.dropdown-films:hover .film-genres {
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
  transform: var(--hover-scale);
}

.film-genres p {
  width: 172px;
  border: 0.5px solid var(--primary-color);
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  color: var(--primary-color);
}

.film-genres p:hover {
  color: var(--color-1);
}
.film-grid {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 10px;
}

.markup {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#empty-message {
  padding: 50%;
  margin-left: 21px;
  width: 280px;
  height: 120px;
  display: flex;
  align-items: center;

  flex-direction: column;
}

.filmCard {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0.9) 70.16%
  );
  width: 100%;
  display: block;
}

.searchBtn {
  width: 121px;
  height: 38px;
  border-radius: 74px;
  padding: 0.75em 1.5em;

  font-size: 12px;
  color: var(--secondary-color);
  background: var(--gradient-1);
  cursor: pointer;
  margin-top: 10px;
  display: block;
  justify-content: center;
}

.film-grid {
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.movieCard {
  list-style-type: none;
  width: 100%;

  border-radius: 8px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 63.48%,
    rgba(0, 0, 0, 0.9) 92.16%
  );
}

.movie {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 63.48%,
    rgba(0, 0, 0, 0.9) 92.16%
  );
}
.movie-image {
  width: 100%;
}
.movieCard p {
  word-wrap: break-word;
}
.about {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: ;
}

.empty-message {
  width: 280px;
}
.markup {
  height: 120px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6em;
  color: var(--primary-color);
}

.add-remove-btn {
  width: 140px;
  height: 38px;
  border-radius: 74px;
  cursor: pointer;

  gap: 10px;
  padding: 12px 24px;
}



/* Responsive design */
@media screen and (min-width: 768px) {
  .dropdown-films {
    max-width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 1);
  }

  .film-grid {
    gap: 10px;
  }

  .markup {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #empty-message {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
  }

  .filmCard {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0.9) 70.16%
    );
    width: 100%;
  }

  .searchBtn {
    width: 121px;
    height: 38px;
    padding: 0.75em 1.5em;
  }

  .film-grid {
    gap: 10px;
  }
  .movieCard {
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 63.48%,
      rgba(0, 0, 0, 0.9) 92.16%
    );
  }

  .movieCard p {
    word-wrap: break-word;

  }
  .about {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: ;
  }

  .empty-message {
    width: 280px;
  }
  .markup {
    height: 120px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6em;
  }

  .add-remove-btn {
    width: 140px;
    height: 38px;
    border-radius: 74px;
    cursor: pointer;

    gap: 10px;
    padding: 12px 24px;
  }
}

@media (min-width: 1024px) {
  .dropdown-films {
    width: 144px;
    height: 44px;
    padding: 12px 60px 20px 10px;
  }
  .film-genres {
    width: 144px;
  }

  .film-genres p {
    font-size: 14px;
    line-height: 1.6em;
  }

  .markup {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #empty-message {
    font-size: 24px;
    font-weight: 400;
    line-height: 2.5;
  }

  .filmCard {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0.9) 70.16%
    );
    width: 100%;
  }

  .searchBtn {
    
  }

  .movieCard {
   
  }

  .movie {
    
  }
  .movie-image {
    width: 100%;
  }
  .movieCard p {
    
  }
  .about {
  

  #empty-message {
    width: 280px;
  }
  .markup {
   
  }

  .add-remove-btn {
   
  }
}


